@import 'fonts.scss';
@import 'variable.scss';
@import 'base.scss';

body{
    padding: 10px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 3px auto;
}

.total,
.list,
.partners,
.location,
.news,
.add {
    padding: 5px;
    width: 50%;
    height: 300px;
    h3 {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 1.5em;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, .4);
    }
    .result{
        position: relative;
        margin: 30px auto;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
    }
}

.total,
.partners,
.news {
    margin-right: 3px;
}
//*****loader******//
.preloader {
     display: block;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: transparent url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;
     background-size: 70px;
 }

.result-total{
    text-align: center;
    margin: 30px auto;
    font-size: 25px;
    font-weight: 600;
    color: yellow;
}

.list{
  overflow: auto;
  .result-companies{
    ul{
      li{
        padding-left: 20px;
        cursor: pointer;
        a{
          color: yellow;
        }
        a:hover{
          color: red;
        }
        a:visited{
          color: aqua;
        }
      }
    }
  }
}
#piechart_3d{
  background: transparent;
}